# Edytory (PyCharm i VS Code)
.idea/
.vscode/

# Środowiska wirtualne
.venv/
venv/
env/
.env/

# Systemowe (Mac i Windows)
.DS_Store
Thumbs.db

# Pythonowe śmieci
__pycache__/
__init__/
*.pyc
*.pyo
*.pyd
